.footer {
  width: 100%;

  .contactUs {
    background: #6c0200;
    color: #fff;
    display: flex;
    justify-content: center;

    .inner {
      width: 1248px;
      padding: 30px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      align-self: stretch;

      .heading {
        padding: 15px 0px;

        font-feature-settings:
          'clig' off,
          'liga' off;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 20.8px */
      }

      .row {
        display: flex;
        align-items: center;
        gap: 15px;
        align-self: stretch;

        font-feature-settings:
          'clig' off,
          'liga' off;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 15.6px */

        img {
          width: auto !important;
        }
      }

      .socials {
        display: flex;
        padding: 15px 0px;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 15px;
      }
    }
  }

  .credits {
    background: #350200;
    display: flex;
    justify-content: center;

    .inner {
      width: 1248px;
      padding: 20px 30px;

      color: #fff;
      text-align: right;
      font-feature-settings:
        'clig' off,
        'liga' off;
      font-size: 12px;
      font-style: normal;
      font-weight: 300;
      line-height: 130%; /* 15.6px */
    }
  }
}
