@import '~bootstrap/scss/bootstrap';

.adminHomePage {
  width: 100vw;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .loginForm {
    box-shadow: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;

    .loginFormHeader {
      background-color: $gray-600;
      color: $gray-100;
      padding: 15px 30px;
      width: 100%;
    }

    .loginFormBody {
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;

      input {
        width: 400px;
      }

      button {
        width: 200px;
      }
    }
  }
}
