* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
